body{
font-family:'Poppins',sans-serif;
margin:0;
scroll-behavior:smooth;
}

.navbar{
background:white;
border-bottom:2px solid #2DBE60;
}

.logo-img{
height:55px;
}

.hero{
background:linear-gradient(rgba(10,77,156,0.85),
rgba(10,77,156,0.85)),
url('hero.jpg');
background-size:cover;
background-position:center;
height:100vh;
display:flex;
align-items:center;
}

section{
padding:100px 0;
}

.trust{
background:#0A4D9C;
color:white;
padding:60px 0;
}

.icon{
font-size:40px;
margin-bottom:10px;
}

.service-card{
border:none;
border-radius:15px;
padding:40px 20px;
transition:0.3s;
}

.service-card:hover{
transform:translateY(-15px);
box-shadow:0 25px 45px rgba(0,0,0,0.15);
}

.service-icon{
font-size:35px;
color:#0A4D9C;
margin-bottom:15px;
}

.btn-primary{
background:linear-gradient(45deg,#0A4D9C,#2DBE60);
border:none;
border-radius:30px;
}

.footer{
background:#0A4D9C;
padding:40px 0;
}

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 18px;
border-radius:50%;
font-size:22px;
text-decoration:none;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

#scrollTopBtn{
position:fixed;
bottom:90px;
right:20px;
background:#0A4D9C;
color:white;
border:none;
padding:12px 16px;
border-radius:50%;
display:none;
cursor:pointer;
}

#scrollTopBtn:hover{
background:#2DBE60;

}
